/* Backgrounds */
$color-main-bg :rgba(252, 252, 252, 1);
$color-card-bg :rgba(255, 255, 255, 1);

/* CTA */
$color-txt-button : rgba(255, 255, 255, 1);
$color-green-success :rgba(0, 227, 140, 1); 
$color-red-alert :rgba(255, 75, 117, 1);
$color-blue-txt :rgb(36, 100, 252);

/* Shadow */
$color-shadow : 0px 3px 26px rgba(0, 0, 0, 0.09);

/* Nav items */
$color-nav-active : rgba(73, 81, 114, 1);
$color-nav-inactive : rgba(137, 144, 173, 1);

/* Texts */
$color-text-primary : rgba(17, 25, 60, 1); 
$color-text-secondary : rgba(137, 144, 173, 1);
$color-text-country : rgba(73, 81, 114, 1);
$letter-spacing-country : 2.91px;

/* Border line*/
$color-border-line : rgba(137, 144, 173, 0.2);

/* Card */
$radius-card : 4px;

/* Badge  */
$opacity-green-badge :rgba(0, 227, 140, 0.1); 
$opacity-blue-badge: rgba(36, 100, 252, 0.1);
$radius-badge : 100px;

/* Icons nav */
$size-icon : 43px;

/* Currency */
$size-currency : 34px;
$background-currency: lighten($color-blue-txt, 40%) ;
$radius-currency : 100px;

/* Arrow */
$size-arrow : 8px;

/* Flag */
$size-flag: 21px;