@import "normalize";
@import "variables";
@import "mixins";

/* Link source all style AdobeXD
    https://xd.adobe.com/view/1931e7ae-d684-4c2b-a501-3f0b23fe0716-4c62/screen/2dc89f7e-7052-4df8-b5b4-e5750d44896b/specs/ 
*/


*{
    /* border: 1px solid rgb(0, 0, 0); */
    box-sizing: border-box;
} 


body{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
    
}
.success{
    color: $color-green-success;
}
.alert{
    color: $color-red-alert;
}

.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;
    background-color: $color-main-bg;
}

.main{
    margin: auto 6rem;
    > *{
        margin: 2.5rem auto;
    }
}
//====Side Menu====
.sideMenu{
    @include white-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 1.5rem 1.5rem;

    &__item{
        width: 150px;
        height: 120px;
        padding: 1.5rem;
        color: $color-nav-inactive;
        transition: all 0.3s ease 0s;
        &:last-child{
            margin-top:auto;
        }

        &:hover {
            transition: all 0.3s ease 0s;
            @include white-card;
            color: $color-text-primary;

            .sideMenu__svg[stroke]{
                stroke: $color-blue-txt;
                transition: all 0.3s ease 0s;
            }
            .sideMenu__svg path[fill ="#b5bad0"]{
                fill: $color-blue-txt;
                transition: all 0.3s ease 0s;
            }
            .sideMenu__svg path[fill="none"]{
                stroke: $color-blue-txt;
                transition: all 0.3s ease 0s;
            }
        }
        
    }
    &__img{
        width: 2.2rem;
        height: auto;
    }
    &__text{
        margin-bottom: auto;
    }
}


//====Header====
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    //====div title box====
    &__titleBox{
        display: block;
        width: 100%;
    }
    &__title{
        font-weight: 500;
        font-size: 2.4em;
    }
    &__subtitle{
        color: $color-text-secondary;
    }

    //====div status====
    &__status{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        color: $color-text-secondary;
        width: 100%;
        > * {
            margin: auto 20px;
        }
    }
    &__button{
        @include button;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 55px;
        width: 135px;
        border: none;
        transition: all 0.3s ease 0s;
        &:hover{
            transform: scale(1.04);
            letter-spacing: 1px;
            transition: all 0.3s ease 0s;
        }
    }
    &__addUnitIcon{
        height: 24px;
        width: 24px;
        
    }
    &__photo{
        @include photo;
        cursor: pointer;
        width: 68px;
        height: 68px;
        background-color: $color-main-bg;
    }
}


//====Overview====
.overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    /* margin: 2rem auto; */
    &__bloc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__line{
        border-right: 2px solid $color-border-line;
        margin: 0;
        padding: 0;
    }
    &__title{
        font-weight: 400;
        letter-spacing: 2.9px;
        color: $color-text-secondary;
        margin-top: auto;
        margin-bottom: 2rem;
    }
    &__data{
        margin-bottom:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__currentValue{
        padding-right: 22px; 
        font-size: 2.1rem;
        font-weight: 400;
    }
    &__arrowUp {
        @include arrow-up;
        font-size: 1rem;
        position: relative;
        bottom: 0;
    }
    &__arrowDown {
        @include arrow-down;
        font-size: 1rem;
        position: relative;
        top: 0;
    }
    &__percent{
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }
    &__currencies{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        >*{
            margin-right: 1rem;
        }
    }
    &__currency{
        @include currency;
        background-color: $background-currency;
    }
}

//====Countries==== TODO
.countries{
    @include white-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.8rem 0;
    &__bloc{
        text-align: center;
        svg{
            width: 9rem;
            height: auto;
        }
    }
    &__country{
        color: $color-text-country;
        margin: 0;
    }
    &__value{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1.2rem 0 1.4rem;
        p{
            margin: 0;
            font-size: 1.7rem;
            font-weight: 700;
            padding-right: 0.6rem;
        }
    }
    &__arrowUp{
        @include arrow-up;
        font-size: 1rem;
        position: relative;
        bottom: 0;
    }
    &__arrowDown {
        @include arrow-down;
        font-size: 1rem;
        position: relative;
        top: 0;
    }    

        
    
}
//====Container of Team Members and Comparison====
.container{
    display: flex;
}

//====teamMembers====
.teamMembers{
    flex-basis: 50%;
    &__card{
        @include white-card;
    }
}
//====comparison====
.comparison{
    flex-basis:50%;
    &__card{
      @include white-card;  
    }
    
}