@import "normalize";
@import "variables";
@import "mixins";

/* Link source all style AdobeXD
    https://xd.adobe.com/view/1931e7ae-d684-4c2b-a501-3f0b23fe0716-4c62/screen/2dc89f7e-7052-4df8-b5b4-e5750d44896b/specs/ 
*/


*{
    /* border: 1px solid rgb(0, 0, 0); */
    box-sizing: border-box;
    
} 


body{
    font-family: 'Inter', sans-serif;
    width: auto;
}
a{
    text-decoration: none;
    
}
.success{
    color: $color-green-success;
}
.alert{
    color: $color-red-alert;
}

.wrapper{
    height: 100%;
    width: auto;
    /* display: grid;
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr; */
    background-color: $color-main-bg;
}

.main{
    padding: 2rem 5rem 2rem calc(198px + 5rem) ;
}

//====Side Menu====
.sideMenu{
    @include white-block;
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 1.5rem 1.5rem;
    &__item{
        width: 150px;
        height: 120px;
        padding: 1.5rem;
        color: $color-nav-inactive;
        transition: all 0.3s ease 0s;
        &:last-child{
            margin-top:auto;
        }
        &:hover {
            transition: all 0.3s ease 0s;
            @include white-card;
            color: $color-text-primary;

            .sideMenu__svg[stroke]{
                stroke: $color-blue-txt;
                transition: all 0.3s ease 0s;
            }
            .sideMenu__svg path[fill ="#b5bad0"]{
                fill: $color-blue-txt;
                transition: all 0.3s ease 0s;
            }
            .sideMenu__svg path[fill="none"]{
                stroke: $color-blue-txt;
                transition: all 0.3s ease 0s;
            }
        }
        
    }
    &__text{
        margin-bottom: auto;
    }
}


//====Header====
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    //====div title box====
    &__titleBox{
        display: block;
        width: 100%;
    }
    &__title{
        font-weight: 500;
        font-size: 2.4em;
    }
    &__subtitle{
        color: $color-text-secondary;
    }

    //====div status====
    &__status{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        color: $color-text-secondary;
        width: 100%;
        > * {
            margin: auto 1.1rem;
        }
    }
    &__button{
        @include button;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 55px;
        width: 135px;
        border: none;
        transition: all 0.3s ease 0s;
        &:hover{
            transform: scale(1.04);
            letter-spacing: 1px;
            transition: all 0.3s ease 0s;
        }
    }
    &__addUnitIcon{
        height: 24px;
        width: 24px;
        
    }
    &__photo{
        @include photo;
        cursor: pointer;
        width: 68px;
        height: 68px;
        background-color: $color-main-bg;
    }
}


//====Overview====
.overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 4rem 0;
    /* margin: 2rem auto; */
    &__bloc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__line{
        border-right: 2px solid $color-border-line;
        margin: 0;
        padding: 0;
    }
    &__title{
        font-weight: 400;
        letter-spacing: 2.9px;
        color: $color-text-secondary;
        margin-top: auto;
        margin-bottom: 2rem;
    }
    &__data{
        margin-bottom:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__currentValue{
        padding-right: 22px; 
        font-size: 2.1rem;
        font-weight: 400;
    }
    &__arrowUp {
        @include arrow-up;
        font-size: 1rem;
        position: relative;
        bottom: 0;
    }
    &__arrowDown {
        @include arrow-down;
        font-size: 1rem;
        position: relative;
        top: 0;
    }
    &__percent{
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }
    &__currencies{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        >*{
            margin-right: 1rem;
        }
    }
    &__currency{
        @include currency;
        background-color: $background-currency;
    }
}

//====Countries==== TODO
.countries{
    @include white-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.8rem 0;
    &__bloc{
        text-align: center;
        svg{
            width: 9rem;
            height: auto;
        }
    }
    &__country{
        color: $color-text-country;
        margin: 0;
    }
    &__value{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1.2rem 0 1.4rem;
        p{
            margin: 0;
            font-size: 1.7rem;
            font-weight: 700;
            padding-right: 0.6rem;
        }
    }
    &__arrowUp{
        @include arrow-up;
        font-size: 1rem;
        position: relative;
        bottom: 0;
    }
    &__arrowDown {
        @include arrow-down;
        font-size: 1rem;
        position: relative;
        top: 0;
    }    

        
    
}
//====Container of Team Members and Comparison====
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//====teamMembers====
.teamMembers{
    width: 50%;
    height: 500px;
    margin: 0 2rem 0 0 ;
    &__titleBloc{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* flex-wrap: wrap;
        gap: 1rem; */
    }
    &__card{
        @include white-card;
        margin-bottom: 1rem;
    }
    &__viewAll{
        color: $color-blue-txt;
    }
    &__card{
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1.5rem;
    }
    &__photo{
        @include photo;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: $color-main-bg;
        margin-right: 1rem;
    }
    /* &__name{

    } */
    &__badge{
        @include badge;
        &--green{
            @include greenBadge;
        }
        &--blue{
            @include blueBadge;
        }
    }
}


//====comparison====
.comparison{
    width: 50%;
    margin: 0 0 0 2rem;
    &__titleBloc{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
    }
    &__viewAll{
        color: $color-blue-txt;
    }
    &__card{
        @include white-card;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
    }
    &__titleBox{
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }
    &__country{
        margin-bottom: 2rem;
    }
    &__countryName{
        font-size: 0.8rem;
        margin-right: auto;
    }
    &__flag{
        @include flag;
        margin-right: 1rem;
    }
    //Progress bar
    &__progressBar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__bar{
        background-color: $color-green-success;
        height: 8px;
        width: 100%;
        margin-right: 1rem;
        border-radius: 7rem;
        &--usa{
            width: 93%;
        }
        &--italy{
            width: 73%;
        }
        &--spain{
            width: 13%;
        }
    } 
    &__percent{
        font-size: 0.8em;
    }

}





//====MEDIA QUERIES====
@media only screen and ( max-width: 1350px){
    .main{
        /* display: block; */
        padding: 2rem 2rem 2rem 2rem ;
    }
    .sideMenu{
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: space-around;
        /* height: 100px; */
        padding: 1rem;
        flex-wrap: wrap;
        &__text{
            margin: 0 0 0 1rem;
        }
        &__item{
            margin: 0 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: auto;
            width: auto;
            padding: 1rem;
            &:hover{
                color: $color-blue-txt;
            }
            &:last-child{
                margin:0 0.5rem 0 auto;
            }
            
        }
    }
}
@media only screen and ( max-width: 1100px){
    .sideMenu{
        width: 100%;
        &__item{
            svg{
                display: none;
            }
        }
    }
    .main{
        .overview{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: stretch;
            align-items: stretch;
            
            &__line{
                display: none;
            }
            &__bloc{
                padding: 0;
                margin: 1rem 0;
                width: 50%;
            }
            &__title{
                margin: 0;
            }
            &__data{
                justify-content: initial;
            }
        }

        .header{
            &__status{
                justify-content: center;
            }
            &__photo{
                margin: 0;
                padding: 0;
            }
            
        }

        .countries{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: stretch;
            align-items: stretch;
        }

        .container{
            > *{
                width: 100%;
                margin: 0;
            }
            flex-wrap: wrap;
        }
        
    }
    
}

@media only screen and ( max-width: 780px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &__titleBox{
            width: auto;
            margin-bottom: 2rem;
        }
        &__status{
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
            >*{
                margin: 1rem;
            }
        }
        
    }
    .overview{
        &__data{
            flex-wrap: wrap;
        }
    }
    .countries{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
    }
    
}
@media only screen and ( max-width: 650px){
    .main{
        .countries{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            justify-items: stretch;
            align-items: stretch;
            
        }
    }
}
@media only screen and ( max-width: 420px){
    .main{
        .overview{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            justify-items: stretch;
            align-items: stretch;
        }
    }
}